In [1]:
from selenium import webdriver
import pandas as pd 
from selenium.webdriver.common.by import By

import requests
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Question 1 solution

In [181]:
driver=webdriver.Chrome()

In [182]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [183]:
#fetching all the details
videoname=[]
artist=[]
date=[]
views=[]
try:
    vid=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
    for i in vid:
        videoname.append(i.text)
except NoSuchElementException:
    videoname.append('-')
topname=[]
topname=videoname[:30]
try:
    art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
topartist=[]
topartist=artist[:30]
try:
    dt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in dt:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
topdata=[]
topdate=date[:30]

try:
    views=[]
    vw=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in vw:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')
topviews=[]
topviews=views[:30]

In [63]:
print(len(topname),len(topartist),len(topdate),len(topviews))

30 30 30 30

In [64]:
df=pd.DataFrame({'video name':topname,'artists':topartist,'date':topdate,'views':topviews})
df

,video name,artists,date,views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,Despacito,Luis Fonsi,"January 12, 2017",8.32
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,Shape of You,Ed Sheeran,"January 30, 2017",6.14
5,See You Again,Wiz Khalifa,"April 6, 2015",6.09
6,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,Uptown Funk,Mark Ronson,"November 19, 2014",5.09
9,Learning Colors â€“ Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.01
10,Gangnam Style,officialpsy,"July 15, 2012",4.96
11,Dame Tu Cosita,Get Movies,"January 31, 2012",4.57
12,Axel F,Ultra Records,"April 5, 2018",4.48
13,Sugar,Crazy Frog,"June 16, 2009",4.16
14,Counting Stars,Maroon 5,"January 14, 2015",3.97
15,Roar,OneRepublic,"May 31, 2013",3.92
16,Baa Baa Black Sheep,Katy Perry,"September 5, 2013",3.91
17,Waka Waka (This Time for Africa),Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,Lakdi Ki Kathi,Shakira,"June 4, 2010",3.78
19,Sorry,Jingle Toons,"June 14, 2018",3.76
20,Thinking Out Loud,Justin Bieber,"October 22, 2015",3.74
21,Humpty the train on a fruits ride,Ed Sheeran,"October 7, 2014",3.69
22,Dark Horse,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,Perfect,Katy Perry,"February 20, 2014",3.63
24,Let Her Go,Ed Sheeran,"November 9, 2017",3.60
25,Faded,Passenger,"July 25, 2012",3.56
26,Shree Hanuman Chalisa,Alan Walker,"December 3, 2015",3.55
27,Girls Like You,T-Series Bhakti Sagar,"May 10, 2011",3.54
28,Lean On,Maroon 5,"May 31, 2018",3.52
29,Pinkfong Baby Shark - Kids' Songs & Stories,Major Lazer Official,"March 22, 2015",3.50

# Question 2 solution

In [69]:
driver2=webdriver.Chrome()
driver2.get('https://www.bcci.tv/')

In [72]:
#fixture btn
btn=driver2.find_element(By.XPATH,'//*[@id="imw-international-men"]/a[2]')
btn.click()

In [83]:
#fetching details
series=[]
place=[]
date=[]
stime=[]
try:
    s=driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/h5')
    for i in s:
        series.append(i.text)
except NoSuchelementException:
    series.append('-')
try:
    p=driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]/span[1]')
    for i in p:
        place.append(i.text)
except NoSuchelementException:
    place.append('-')
try:
    d=driver2.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[1]')
    for i in d:
        date.append(i.text)
except NoSuchelementException:
    date.append('-')
    
try:
    t=driver2.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in t:
        stime.append(i.text)
except NoSuchelementException:
    stime.append('-')

In [85]:
print(len(series),len(place),len(date),len(stime))

8 8 8 9

# question 3 solution

In [86]:
driver=webdriver.Chrome()
driver.get('https://statisticstimes.com/')

In [93]:
economy_btn=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]')
economy_btn.click()

In [94]:
india_btn=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
india_btn.click()

In [95]:
state_wise_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_wise_btn.click()

In [101]:
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

try:
    rnk=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rnk:
        rank.append(i.text)
except NoSuchelementException:
    rank.append('-')
try:
    st=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in st:
        state.append(i.text)
except NoSuchelementException:
    state.append('-')
try:
    g1=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in g1:
        GSDP1.append(i.text)
except NoSuchelementException:
    GSDP1.append('-')
try:
    g2=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in g2:
        GSDP2.append(i.text)
except NoSuchelementException:
    GSDP2.append('-')
try:
    sh=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in sh:
        share.append(i.text)
except NoSuchelementException:
    share.append('-')
try:
    gd=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gd:
        GDP.append(i.text)
except NoSuchelementException:
    GDP.append('-')

In [102]:
print(len(rank),len(state),len(GSDP1),len(GSDP2),len(share),len(GDP))

33 33 33 33 33 33

In [106]:
df=pd.DataFrame({'Rank':rank,'GSDP 18-19':GSDP2,'GSDP 19-20':GSDP1,'SHARE':share,'GDP':GDP})
df

   Rank GSDP 18-19 GSDP 19-20   SHARE      GDP
0     1  2,632,792          -  13.94%  399.921
1     2  1,630,208  1,845,853   8.63%  247.629
2     3  1,584,764  1,687,818   8.39%  240.726
3     4  1,502,899          -   7.96%  228.290
4     5  1,493,127  1,631,977   7.91%  226.806
5     6  1,089,898  1,253,832   5.77%  165.556
6     7    942,586  1,020,989   4.99%  143.179
7     8    862,957    972,782   4.57%  131.083
8     9    861,031    969,604   4.56%  130.791
9    10    809,592    906,672   4.29%  122.977
10   11    781,653          -   4.14%  118.733
11   12    774,870    856,112   4.10%  117.703
12   13    734,163    831,610   3.89%  111.519
13   14    530,363    611,804   2.81%   80.562
14   15    526,376    574,760   2.79%   79.957
15   16    487,805    521,275   2.58%   74.098
16   17    315,881          -   1.67%   47.982
17   18    304,063    329,180   1.61%   46.187
18   19    297,204    328,598   1.57%   45.145
19   20    245,895          -   1.30%   37.351
20   21    155,956          -   0.83%   23.690
21   22    153,845    165,472   0.81%   23.369
22   23     73,170     80,449   0.39%   11.115
23   24     49,845     55,984   0.26%    7.571
24   25     42,114          -   0.22%    6.397
25   26     34,433     38,253   0.18%    5.230
26   27     33,481     36,572   0.18%    5.086
27   28     28,723     32,496   0.15%    4.363
28   29     27,870     31,790   0.15%    4.233
29   30     27,283          -   0.14%    4.144
30   31     24,603          -   0.13%    3.737
31   32     22,287     26,503   0.12%    3.385
32   33          -          -       -        -

# question 4 solution

In [114]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [115]:
btn1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
btn1.click()
trending_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending_btn.click()

In [127]:
title=[]
desc=[] 
count=[]
language=[]

try:
    t=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in t:
        title.append(i.text)
except NoSuchelementException:
    title.append('-')
try:
    d=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in d:
        desc.append(i.text)
except NoSuchelementException:
    desc.append('-')
try:
    c=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for i in c:
        count.append(i.text)
except NoSuchelementException:
    count.append('-')
try:
    l=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
    for i in c:
        language.append(i.text)
except NoSuchelementException:
    language.append('-')

In [128]:
print(len(title),len(desc),len(count),len(language))

25 24 25 25

# Question 5 solution

In [175]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [ ]:
ham_btn=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[1]/div[1]/button')
ham_btn.click()

In [ ]:
topsongs_btn=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
topsongs_btn.click()

In [ ]:
# fetching all information
sname=[]
artist=[]
lweek=[]
pweek=[]
wb=[]

try:
    songs=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in songs:
        sname.append(i.text)
except NoSuchElementException:
    sname.append('-')

try:
    art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
try:
    week1=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in week1:
        lweek.append(i.text)
except NoSuchElementException:
    lweek.append('-')
try:
    week2=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in week2:
        pweek.append(i.text)
except NoSuchElementException:
    pweek.append('-')
try:
    w=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in w:
        wb.append(i.text)
except NoSuchElementException:
    wb.append('-')

In [ ]:
print(len(sname),len(artist),len(lweek),len(pweek),len(wb))

In [143]:
df=pd.DataFrame({'SONG NAME':sname,'ARTIST':artist,'LAST WEEK':lweek,'PEEK RANK':pweek,'WEEKS ON BOARD':wb})
df

,SONG NAME,ARTIST,LAST WEEK,PEEK RANK,WEEKS ON BOARD
0,Lovin On Me,Jack Harlow,2,1,2
1,Cruel Summer,Taylor Swift,1,1,29
2,Paint The Town Red,Doja Cat,3,1,16
3,All I Want For Christmas Is You,Mariah Carey,17,1,60
4,Snooze,SZA,4,2,50
...,...,...,...,...,...
95,Different 'Round Here,Riley Green Featuring Luke Combs,97,96,2
96,Bongos,Cardi B & Megan Thee Stallion,72,14,11
97,But I Got A Beer In My Hand,Luke Bryan,98,92,6
98,Calling For You,Drake Featuring 21 Savage,-,5,4
99,Mi Ex Tenia Razon,Karol G,96,22,14

# Question no 6 solution

In [147]:
driver=webdriver.Chrome()
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [148]:
#fetching all the details
bookname=[]
author=[]
vsold=[]
publisher=[]
genre=[]

try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        bookname.append(i.text)
except NoSuchElementException:
    bookname.append('-')

try:
    ath=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in ath:
        author.append(i.text)
except NoSuchElementException:
    author.append('-')
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        vsold.append(i.text)
except NoSuchElementException:
    vsold.append('-')
try:
    pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in pub:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
try:
    gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [149]:
print(len(bookname),len(author),len(vsold),len(publisher),len(genre))

100 100 100 100 100

In [155]:
df=pd.DataFrame({'BOOK NAME':bookname,'AUTHOR':author,'VOLUME SOLD':vsold,'PUBLISHER':publisher,'GENRE':genre})
df

,BOOK NAME,AUTHOR,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General


# Question 7 solution

In [156]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [162]:
#fetching all the details
Name=[] 
Year=[] 
Genre=[] 
Runtime=[] 
Ratings=[] 
Votes=[]

try:
    name=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

try:
    year=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
    for i in year:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
try:
    genre=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
try:
    runtime=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
    for i in runtime:
        Runtime.append(i.text)
except NoSuchElementException:
    Runtime.append('-')
try:
    rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
    for i in rating:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
try:
    votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('-')

In [165]:
df=pd.DataFrame({'Name':Name,'YEAR':Year,'GENRE':Genre,'RUNTIME':Runtime,'RATINGS':Ratings,'VOTES':Votes})
df

,Name,YEAR,GENRE,RUNTIME,RATINGS,VOTES
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,486"
1,Stranger Things,(2016â€“2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,463"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,206"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"310,108"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,228"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.5,"53,273"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"65,355"
97,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"213,156"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7,"44,371"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"278,003"

# Question 8 Solution

In [169]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [170]:
#fetching dataser button
dataset_btn=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset_btn.click()

In [174]:
#fetching all the details
Dataset=[] 
Datatype=[]
Task=[] 
Attribtype=[] 
instances=[]
attribute=[]
Year=[]

try:
    data=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for i in data:
        Dataset.append(i.text)
except NoSuchElementException:
    Dataset.append('-')

try:
    type=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/p')
    for i in type:
        Datatype.append(i.text)
except NoSuchElementException:
    Datatype.append('-')
try:
    tsk=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span[1]')
    for i in tsk:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
try:
    attrib=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span')
    for i in attrib:
        Attribtype.append(i.text)
except NoSuchElementException:
    Attribtype.append('-')
try:
    ins=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span')
    for i in ins:
        instances.append(i.text)
except NoSuchElementException:
    instances.append('-')
try:
    att=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
    for i in att:
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append('-')
try:
    yr=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
    for i in yr:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [179]:
df=pd.DataFrame({'DATA SET':Dataset,'TYPE':Datatype,'TASK':Task,'ATTRIBUTE TYPE':Attribtype,'INSTANCES':instances,'ATTRIBUTE':attribute})
df

,DATA SET,TYPE,TASK,ATTRIBUTE TYPE,INSTANCES,ATTRIBUTE
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Tabular,150 Instances,4 Features
1,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,13 Features
2,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Features
3,Wine,Using chemical analysis to determine the origi...,Classification,Tabular,178 Instances,13 Features
4,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,30 Features
5,Diabetes,This diabetes dataset is from AIM '94,Classification,"Multivariate, Time-Series",1 Instances,20 Features
6,Dry Bean Dataset,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,16 Features
7,Car Evaluation,Derived from simple hierarchical decision mode...,Classification,Multivariate,1.73K Instances,6 Features
8,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,12 Features
9,Bank Marketing,The data is related with direct marketing camp...,Classification,Multivariate,45.21K Instances,17 Features